.Panel{

  width:30vw;
  height:51vh;
  top: 40%;
  left: 40%;
  position: absolute;
  display: inline-block;
  
 
}
.History{
float:left;
width: 30%;
height: 100%;
background-color: lightgrey;
margin-top:16px;
}
.Calculator{

  float:left;
  width: 70%;
  height: 100%;


}